<h2>Locations</h2>
<% @locations.each do |location| %>
  <p><%= link_to location.neighborhood, location, class: 'btn btn-success' %> - <%= location.bathroom_count %></p>
<% end %>

<%= link_to new_location_path, class: 'btn btn-warning' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Location
<% end %>
