<h1><%= @location.neighborhood %></h1>

<ul>
  <% @location.bathrooms.each do |bathroom| %>
  <li><%= link_to bathroom.name, bathroom %></li>
  <% end %> <br>

  <h3> Average Rating: <%= @location.average_rating %></h3>
</ul>
